body {
  margin: 0;
  padding: 0;
}

.div1 {
  width: 600px;
  height: 200px;
  background-color: orange;

  /* top right bottom left */
  /* margin: 20px; */

  /* top bottom & left right */
  /* margin: 20px 50px; */

  /* top right bottom left */
  /* margin: 10px 30px 50px 100px; */

  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 20px;
}

.div2 {
  width: 600px;
  height: 200px;
  background-color: orange;

  margin: 20px;
}

.div2 .bank,
.div2 .coin {
  background-color: green;
  color: #fff;

  display: block;
}

.display1 {
  width: 300px;
  height: 100px;
  background-color: silver;
  border: 2px solid orange;

  /* element true spacing false */
  /* 0 to 1 */
  /* opacity: 0.5; */
  /* opacity: .3; */
  /* opacity: 1; */

  /* element true spacing false */
  /* visibility: hidden; */
  /* visibility: visible; */

  /* element true spacing false */
  /* transform: scale(0); */

  /* element true spacing true */
  display: none;
}

.display2 {
  width: 300px;
  height: 100px;
  background-color: silver;
  border: 2px solid orange;
}
