body{
    margin: 0;
    padding: 0;
    
}
.divtop{
    width: 1200px;
    height: 150px;
    border: 2px solid red;
  
}

.divleft{
    width: 100px;
    height: 700px;
    border: 2px solid red;
    float: left;

}

.divcenter{
    width: 900px;
    height: 700px;
    border: 2px solid red;
    float: left;

  

}

.divright{
    width: 193 px;
    height: 700px;
    border: 2px solid red;
    float: left;


}
 
.divbotton{
    width: 1200px;
    height: 100px;
  

}


